<h1> Edit Task</h1>

<div class="form-group">
    <label for="todo-to-add">To Do</label>
    <input type="text" id="todo-to-add" class="form-control" [(ngModel)]="taskToEdit.todo" />
</div>

<div class="form-group">
    <label for="todo-to-category">Category</label>
    <select Id="todo-to-category" class="form-control" [(ngModel)]="selectedcategory">
        <option [value]="cat.Id" *ngFor="let cat of categoryList"> {{cat.CategoryName}}</option>
    </select>
</div>
<div class="checkbox c-checkbox">    
        <label  for="todo-to-status" class="form-check-inline">
        <input type="checkbox" id="todo-to-status" class="form-check-inline" [(ngModel)]="taskToEdit.IsDone"  />
        <span *ngIf="taskToEdit.IsDone then done else notdone"></span></label>
        <ng-template #done>Done</ng-template>
        <ng-template #notdone>Not Done</ng-template>
</div>

<div class="form-group">
    <input type="button" class="btn btn-primary" value="Update Task" (click)="onClick(taskToEdit)" />
</div>