/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

  input.ng-pending.ng-touched {
    border: 1px solid #00F;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid #F00;
  }
  
  input.ng-valid.ng-touched {
    border: 1px solid #0F0;
  }
  
  