<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Create new components</a>
    <a href="#" class="list-group-item list-group-item-action">Create example of tow-way data binding.</a>
    <a href="#" class="list-group-item list-group-item-action">Create example of tow-way data binding.</a>
    <a href="#" class="list-group-item list-group-item-action">Link multiple components</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Create Child components</a>
  </div>